
footer{ background-color: lightgreen; 

}
header {background-image: url(../assets/fondo.jpg.jpg ) ;}

div{  }

main{ background-color: lightgreen; }

nav ul li{ list-style-type: none; 
}  


h1{ font-family: monospace; 
}

div  h1{ text-align: center; }

main {text-align: center;}

p{ text-align: center; }

header nav ul li{ font-size:25px;
 }


li{ 
    font-size: 30px;
     }
a{color: black;}

 a{text-decoration: none;
  }
  .border{ 
         border-top:solid 5px green;
         border-bottom: solid 5px green;
         border-left:solid 5px green ;
         border-right:solid 5px green ;
    }
    .padding{
    	padding-top:5px ;
    	padding-bottom: 5px;
    	padding-right: 1px ;
    	padding-left:5px ;
    }
    .margin{ 
    	margin-bottom:5px;
    	margin-top:25px ; 
    	margin-right: 5px ;
    	margin-left: 5px ;
    }

    li{ display: inline; }

footer div p {font-family:cursive;}
.class{ overflow: 20px }    

.fondocultivo {background-image: url(../assets/fondocultivo.png);}


.fondolegal { background-image: url(../assets/fondolegal.png);}

header { display: flex ; 
    flex-direction: row;
    justify-content: flex-end;
}    


footer{display: flex;
    flex-direction:  row;
    justify-content: space-evenly;

}
@media (min-width: 996px){  footer{ background-color: lightgreen; 

}
header {background-image: url(../assets/fondo.jpg.jpg ) ;}

div{  }

main{ background-color: lightgreen; }

nav ul li{ list-style-type: none; 
}  


h1{ font-family: monospace; 
}

div  h1{ text-align: center; }

main {text-align: center;}

p{ text-align: center; }

header nav ul li{ font-size:25px;
 }


li{ 
    font-size: 30px;
     }
a{color: black;}

 a{text-decoration: none;
  }
  .border{ 
         border-top:solid 5px green;
         border-bottom: solid 5px green;
         border-left:solid 5px green ;
         border-right:solid 5px green ;
    }
    .padding{
        padding-top:5px ;
        padding-bottom: 5px;
        padding-right: 1px ;
        padding-left:5px ;
    }
    .margin{ 
        margin-bottom:5px;
        margin-top:25px ; 
        margin-right: 5px ;
        margin-left: 5px ;
    }

    li{ display: inline; }

footer div p {font-family:cursive;}
.class{ overflow: 20px }    

.fondocultivo {background-image: url(../assets/fondocultivo.png);}


.fondolegal { background-image: url(../assets/fondolegal.png);}

header { display: flex ; 
    flex-direction: row;
    justify-content: flex-end;
}    


footer{display: flex;
    flex-direction:  row;
    justify-content: space-evenly;

}
}


@media (max-width:  576px){ 
header {
    display:  flex;
    flex-direction: column;
}


 }
.gradient {background-image: linear-gradient( springgreen, lightgreen);}

.translate {transform:translate(-400px,-20px );}

.colorfuente{color:  white;} 








